<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}
{% include "header.html" %}

<body>


<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>

            </div>

            <div class="row">
                <div class="col-lg-6">

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>서일대학교</h4>
                        <h5>2014.03 - 2020.02</h5>
                        <p><em>컴퓨터전자공학과</em></p>
                        <p></p>
                    </div>
                    <div class="resume-item">
                        <h4>IT솔데스크 </h4>
                        <h5>2020.05 - 2020.11</h5>
                        <p><em>자바 파이썬 R을 활용한 빅데이터 전문가 양성과정</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>학점 은행 </h4>
                        <h5>2020.05 - 2022.07(학사 취득 예정)</h5>
                        <p><em></em></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Work Experience</h3>
                    <div class="resume-item">
                        <h4>엠싱크</h4>
                        <h5>2020.12 - 2021.08 (8개월)</h5>
                        <p><em>IQOS_Rental Project </em></p>
                        <p>
                        <ul>
                            <li>누적회원수 7만명 이상 누적 대여,판매수 10만건 이상인 아이코스 핵심 사업 IQOS_Rental 프로젝트 개발,유지보수</li>
                            <li>Java,Spring FrameWork, JavaScript, Jquery, Mysql, AWS</li>
                        </ul>

                        <p><em>태경그룹</em></p>
                        <p>
                        <ul>
                            <li>시가총액 1조원 이상인 태경그룹사 9개사이트 개발</li>
                            <li>Java,Spring FrameWork, JavaScript, Jquery, Mysql, AWS</li>
                        </ul>
                        </p>

                        <p><em>현대문학</em></p>
                        <p>
                        <ul>
                            <li>한국 순수 문학의 근간 현대문학 사이트 개발</li>
                            <li>Java,SpringBoot, JavaScript, Jquery, MSsql</li>
                        </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>뮤집</h4>
                        <h5>2021.09 - 2022.01 (재직중)</h5>
                        <p><em>차량번호로 소통하는 시대의시작 - Pleasy 앱</em></p>
                        <p>
                        <ul>
                            <li>Pleasy - 회원 이라면 차량번호 스캔만으로 출차요청</li>
                            <li>Pleasy - 운영,개발 서버 인프라 구축 (AWS)</li>
                            <li>Pleasy - REST API 개발 (Django,DRF)</li>
                            <li>Pleasy - 웹사이트 개발(Django,Jquery,JavaScrip)</li>
                            <li>Python, Django, DRF, JavaScript, Jquery, Mysql, AWS, Docker</li>
                        </ul>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>



</body>

{% include "footer.html" %}

{#<div class="popup_layer" id="popup_layer" style="display: none;">#}
{#  <div class="popup_box">#}
{#      <div style="height: 10px; width: 375px; float: top;">#}
{#        <a href="javascript:closePop();"><img src="/static/img/ic_close.svg" class="m_header-banner-close" width="30px" height="30px"></a>#}
{#      </div>#}
{#      <!--팝업 컨텐츠 영역-->#}
{#      <div class="popup_cont">#}
{#          <h5> POPUP TILTE</h5>#}
{#          <p>#}
{#          !!!!!!!!!!!!!!!!!!!!<br>#}
{#              ~~~~~~~~~~~~~~~~~#}
{#              @@@@@@@@@@@@@@@@@@@#}
{#              %%%%%%%%%%%%%%%%#}
{#              ^^^^^^^^^^^^^^^^#}
{#              &&&&&&&&&&&&&&#}
{#              *************#}
{#              ((((((((((((((((#}
{##}
{#          </p>#}
{##}
{#      </div>#}
{#      <!--팝업 버튼 영역-->#}
{#      <div class="popup_btn" style="float: bottom; margin-top: 200px;">#}
{#          <a href="javascript:closePop();">닫기</a>#}
{#      </div>#}
{#  </div>#}
{#</div>#}

</html>

<script>
    //팝업 띄우기
    function openPop() {
        document.getElementById("popup_layer").style.display = "block";

    }

    //팝업 닫기
    function closePop() {
        document.getElementById("popup_layer").style.display = "none";
    }

</script>